apiVersion: v1
kind: Secret
metadata:
  name: django-secrets
  namespace: obscura-messenger
type: Opaque
data:
  SECRET_KEY: <BASE64_ENCODED_SECRET_KEY>
  DATABASE_USER: <BASE64_ENCODED_DB_USER>
  DATABASE_PASSWORD: <BASE64_ENCODED_DB_PASSWORD>

---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secrets
  namespace: obscura-messenger
type: Opaque
data:
  POSTGRES_USER: <BASE64_ENCODED_POSTGRES_USER>
  POSTGRES_PASSWORD: <BASE64_ENCODED_POSTGRES_PASSWORD>
  POSTGRES_DB: <BASE64_ENCODED_POSTGRES_DB>